<!-- <%- include('../partials/header') %>
<section2 id="article-id" action="/articles/<%= user.id %>" method="POST">
    <label>Article Link</label>
    <input type="text"name="image">
        <div>Title:</div>
        <div><%= article.title %></div>
        <div>Details:</div>
        <div><%= article.details %></div>
    </section2>

<%- include('../partials/footer') %> -->